
html{
	scroll-behavior: smooth;	
}
@font-face {
    font-family: Comfortaa; 
    src: url(../fonts/Comfortaa.ttf); 
}
body{
	font-family: 'Comfortaa';
	font-size: 16px;
	color: #323232;	
	overflow-x:hidden;
}
@media (max-height:800px){	
	body{	
	font-size: 80%;	
	}
}
html.lock{
	overflow: hidden;	
}
.container{
	max-width: 1200px;
	margin:0 auto;
}
@media (max-width: 1200px){
	.container, .logo-anim-general{max-width: 95vw;}
}
h2{
	font-weight: 700;	
	padding:20px 0;	
	font-size: 32px;
	text-transform: uppercase;
	color: #dfb019;
}
@media (max-width: 1150px){
	h2{font-size: 24px;}
}
h3,h4,h5{
	text-align: center;
	font-weight: 700;	
	padding:20px 0;	
}
h3{
	font-size: 24px;
	text-transform: uppercase;
	transform: translate(0px,50%);
	opacity: 0;	
	transition:all 1.5s ease;

}
h3._active{
	transform: translate(0px,0px);
	opacity: 1;	
}
h4{
	font-size: 20px;
}
footer{
	background-color:#FCDAC4;
	color:white;
	padding-top:10px;
}
a{
	text-decoration: none;
	color:inherit;	
}
p{
	text-align: justify;
	padding: 5px 0;
}
iframe{
	width: 100%;
}
select{
	color:#dfb019;
	border: 1px solid #dfb019;
	border-radius: 5px;
	transition:all .5s ease;
	padding: 5px;
	margin-left: 10px;
	background-color: transparent;
}
.small-display{
	display: none;
}




/*MENU*/

nav{		
	position: absolute;	
}
#nav-menu{
	width: 100vw;		
	z-index: 2;
}
.nav-wrapper{			
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;	
	margin: 0 auto;
	width: 95vw;
}
@media (max-width: 1000px){
	.#nav-menu{
		background: rgba(255,255,255,0.9)	;
		padding: 0 2.5vw ;	
	}
}
.menu-items-wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.burger, .logo-anim-sm,.change-lang,.general-wrapper .contacts, .general-wrapper .socicons{
	transform: scale(0.001);
	opacity: 0;	
	transition:all .5s ease;
}
.burger._active, .logo-anim-sm._active,.change-lang._active,.contacts._active,.socicons._active {
	transform: scale(1);
	opacity: 1;
	transition-delay: 1.5s;
}
.menu-items{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color:#dfb019;	
	padding: 10px;
}
.menu-items a:hover {		
	display: block;
	transition: all 0.5s ease;
	transform: scale(1.1,1.1);	
}
.menu-item{
	font-weight: 700;
	margin: 0  16px;
	text-align: center;
	transform: scale(0.001);
	opacity: 0;	
	transition:all .5s ease;
}
.menu-item._active{
	transform: scale(1);
	opacity: 1;
	transition-delay: 1.5s;
}
.contacts{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;		
	}
.contact{
		display: flex;
		flex-direction: row;
		margin: 8px 0 ;	
		align-items: center;
		transition: all .5s ease;
}
.contact a:hover{
	color: #dfb019;		
}
.contact i{
		font-size: 16px;
		margin-right: 8px;
}
i.icon-location{
	font-size: 20px;
}
.socicons{
	display: flex;
	flex-flow: row nowrap;	
	padding-bottom: 20px;	
}
.icon{
	display: block;	
	transition: all 0.5s ease;	
	padding: 20px 22px;
	border-radius: 50%;
	border: 1px solid #dfb019;
	align-items: center;
	color:#dfb019 ;
	font-size: 28px;
}
.icon:last-child{
	margin-left: 8px;
}
.icon:hover{	
	color: white;
	background-color: #dfb019 ;
}
@media (max-width: 1000px){
	.small-display{display: inline-block;}
	.large-display{display: none;}
	p{
		font-size: .9em;
	}
	.nav-wrapper{
		position: fixed;
		width: 100vw;
		background: rgba(255,255,255,0.9);
		margin:  auto 0;
		align-items: center;
		z-index: 10;
	}
	.logo-anim-sm img{
		padding:0 0 0 5px;
	}	
	.burger{
		width: 85px;		
		overflow: hidden;
	}
	svg .burger-menu{
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	          transform: translate(-50%, -50%);
	  cursor: pointer;
	  width: 350px;
	  height: 200px;
	}
	.burger-menu path{
	  stroke-width: 10;
	  stroke-linecap: round;
	  stroke: #dfb019;
	  fill: none;
	  -webkit-transition: all .5s ease-in-out;
	  transition: all .5s ease-in-out;  
	}
	.burger-menu:hover  path{
		stroke: #dfb019;
	}
	/* In menu form */
	.top_bar,
	.bottom_bar{
	  stroke-dasharray: 240px 910px;
	}
	.middle_bar{
	  stroke-dasharray: 240px 240px;
	}
	 /*In cross form */
	.open .top_bar,
	.open .bottom_bar{
	  stroke-dashoffset: -650px;
	}
	.open .middle_bar{
	  stroke-dasharray: 0px 220px;
	  stroke-dashoffset: -120px;
	}
	.menu-items{
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-direction: column;
		position: fixed;		
		background-color:	rgba(252,218,196, .95);		
		width: 100%;
		right: -100%;		
		height: calc(100vh - 67px);
		top:67px;
		transition: all 0.5s ease;
		z-index: 2;
		padding: 25% 25px 25%;
		font-size: 20px;
	}
	.menu-items p{
		font-size: 20px;
	}
	.menu-items.open{
		right: 0;
	}	
	.menu-items .socicons{
		justify-content: flex-start;
	}
}





/*SECTION GENERAL*/

#general{	
  position: relative;
  width: 100%;
	height: 100vh;
	overflow: hidden;
}
.general-wrapper{
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows:repeat(5, 1fr);
}
.text-general{	
	grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:flex-start;	
	-webkit-transform: scale(0.001);
	-moz-transform: scale(0.001);
	-ms-transform: scale(0.001);
	-o-transform: scale(0.001);	
	transform: scale(0.001);	
	opacity: 0;	
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;

}
.text-general._active{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);	
	transform: scale(1);
	opacity: 1;
	-webkit-transition-delay: 1.5s;;
	-moz-transition-delay: 1.5s;
	-ms-transition-delay: 1.5s;
	-o-transition-delay: 1.5s;
	transition-delay: 1.5s;
}
.btn{
	display: block;
	border-color:#dfb019;	
	color: #dfb019;
	font-weight:600;
	border:1px solid #dfb019;
	padding: 18px 32px 16px;
	text-transform: uppercase;
	margin-top: 20px;
	border-radius: 12px;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition: all 0.3s ease;	
}
.btn:hover{
	background-color:#dfb019;
	color: white;	
}
.logo-anim-general{	
		position: absolute;
		z-index: 100;	
		display: flex;	
		width: 1200px;
		align-items: center;
		justify-content: center;
		-webkit-transform: scale(0.001);
		-moz-transform: scale(0.001);
		-ms-transform: scale(0.001);
		-o-transform: scale(0.001);	
		transform: scale(0.001);
		opacity: 0;	
		-webkit-transition:all .5s ease;
		-moz-transition:all .5s ease;
		-ms-transition:all .5s ease;
		-o-transition:all .5s ease;
		transition:all .5s ease;
	}
.logo-anim-general._active{
		opacity: 1;		
		-webkit-transition-delay: 0.00001s;
		-moz-transition-delay: 0.00001s;
		-ms-transition-delay: 0.00001s;
		-o-transition-delay: 0.00001s;	
		transition-delay: 0.00001s;		
		-webkit-animation: logo-g-scale 1.5s;;
		-moz-animation: logo-g-scale 1.5s;;
		-ms-animation: logo-g-scale 1.5s;;
		-o-animation: logo-g-scale 1.5s;;
		animation: logo-g-scale 1.5s;
		animation-iteration-count: 1;
		transition-timing-function:cubic-bezier(0.1, 0.7, 1.0, 0.1);
	}
@keyframes logo-g-scale{
		from {
    	transform: scale(0.001) ;
    	animation-timing-function: ease-out;
  		}
  		40% {
    	transform: scale(.6) ;
    	animation-timing-function: ease-in;
  		}
  		50% {
    	transform: scale(.6) ;
    	animation-timing-function: ease-out;
  		}
  		to {
   		transform: scale(.001) ;
   		animation-timing-function: ease-in;
  		}
 }
.contacts-general{
	grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  flex-direction: column;
 	justify-content: center;
 	z-index: 0;
} 
.contacts-general .contacts{
 	flex-direction: row;
 	align-items: center;
 	justify-content: flex-start;
 }
 .contacts-general .contact:last-child{
 	margin-left: 25px;
 }
 .contacts-general .contact{
 	margin: 0;
 }
.general-img{
	grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 6;
  margin-right: -150px;
  display: flex;
  max-height: 95vh;
  justify-content: flex-end; 
	opacity: 0;	
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	-ms-transition:all 2s ease;
	-o-transition:all 2s ease;
	transition:all 2s ease;
	z-index: -2;
}
.general-img._active{	
	opacity: 1;
	-webkit-transition-delay: 1.5s;;
	-moz-transition-delay: 1.5s;;
	-ms-transition-delay: 1.5s;;
	-o-transition-delay: 1.5s;;
	transition-delay: 1.5s;
}
@media (max-width: 1000px){
	.contacts-general{
		display: none;
	}
}
@media (max-width: 470px){
	.general-wrapper{
		height: 100vh;
		margin-top: 67px;
		h2{
			font-size: 16px;
		}
		p{
			font-size: .7em;
		}
	}
	.text-general{	
	grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  align-items: center;
	}
	.general-img{
	grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 6;
  margin-right: 0;
  justify-content: center;
  padding-top: 16px;
	}
	h2{
		text-align: center;
		padding: 4px 0;
	}
}
.button.sm-screen{
	display: none;
}
@media (max-width: 650px){
	.button.sm-screen{
		display: block;
	}
	.button.big-screen{
		display: none;
	}
}



/*SECTION ABOUT US*/

#about-us{
	background-color: #E5E2AE;	
}
#about-us .container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
}
.about-us-cards{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.card{
	display: flex;
	flex-direction: column;
	width: 25%;
	align-items: center;
	margin: 24px 0;
	transform: translate(0px,50%);
	opacity: 0;	
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;

}
.card._active{
		opacity: 1;
		transform: translate(0px,0px);	
	}
.card img{
	width: 75px;
	height: 75px;
	margin-bottom: 24px;
}
@media (max-width: 1000px){
		.card img{
		width: 50px;
		height: 60px;
	}	
}
@media (max-width: 800px){
		.about-us-cards{		
		flex-direction: column;	
		align-items: center;	
	}
	.card{
		width: 60%;
	}
}
@media (max-width: 500px){	
	.card{
		width: 80%;
	}
	.accordeon{		
		h3{
			font-size: 16px;
			padding: 8px 0;
		}
		p{
			font-size: .8em;
		}
		
		
	} 


}







/*SECTION services*/


.accordeon{
	min-width: 100%;
}
.accordeon-header{
	min-height: 50vh;
	display: flex;
	align-items: center;	
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition: all 0.3s ease;	
}
.massage,.biolift{
	background-color:#FCDAC4;
}
.waxing,.waxing-content{
	background-color: #E5E2AE;
}
.accordeon-content{
	display: none;
	background-color:white;	
	padding: 2vh;	
}
.accordeon-content.in{
	display:flex;
}
.accordeon-content-container{	
	align-items:  center;
}
.accordeon-text{
	padding:10px 25px 10px 15px;
}

.massage-content,.biolift-content{
	background-color: #FCDAC4;
}
.waxing-wrapper,.massage-wrapper,.biolift-wrapper,.kosmetolog-wrapper,.pedikure-wrapper{		
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
}
.waxing-container,.massage-container,.biolift-container,.kosmetolog-container,.pedikure-container{	
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows:repeat(5, 13vh	);
}
.kosmetolog-container,.biolift-container,.pedikure-container{
	padding-left: calc((100% - 1200px)/2);
}
.massage-container,.waxing-container{
	padding-right: calc((100% - 1200px)/2);
}
.kosmetolog-img-wrapper,.biolift-img-wrapper,.pedikure-img-wrapper{
	display: flex;
	grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6; 
  position: relative;
}
.massage-img-wrapper,.waxing-img-wrapper{
	display: flex;
	grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6; 
  position: relative;
}
.waxing-img,.massage-img,.biolift-img,.kosmetolog-img,.pedikure-img{
  width:100%;
  height: 100%;
  object-fit: cover;
  display: block; 
} 
.kosmetolog-text,.biolift-text,.pedikure-text{
	grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5; 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 32px 10vw 32px 0;
}
.massage-text,.waxing-text{
	grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5; 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 32px 24px 32px 10vw;
}

@media (max-width: 1000px){
	.waxing-text,.massage-text,.biolift-text,.kosmetolog-text,.pedikure-text{	
	padding-left: 5vw;
	}
}
.waxing-text-p,.massage-text-p,.biolift-text-p,.kosmetolog-text-p,.pedikure-text-p{
	-webkit-transform: translate(0px,40%);
	-moz-transform: translate(0px,40%);
	-ms-transform: translate(0px,40%);
	-o-transform: translate(0px,40%);
	transform: translate(0px,40%);
	opacity: 0;	
	-webkit-transition:all .8s ease;
	-moz-transition:all .8s ease;
	-ms-transition:all .8s ease;
	-o-transition:all .8s ease;
	transition: all 0.8s ease ;	
}
.waxing-text-p._active,.massage-text-p._active,.biolift-text-p._active,.kosmetolog-text-p._active,.pedikure-text-p._active{
		-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	transform: translate(0px,0px);
	opacity: 1;
}
@media (max-width: 800px){
		.waxing-container,.massage-container,.biolift-container,.kosmetolog-container,.pedikure-container{			
		grid-template-rows:repeat(4, 20vh	);
	}
		.waxing,.massage,.biolift,.kosmetolog,.pedikure{	
		min-height: 75vh;	
	}
	.waxing-wrapper,.massage-wrapper,.biolift-wrapper,.kosmetolog-wrapper,.pedikure-wrapper{		
		padding: 50px 0;
	}
	.waxing-img-wrapper,.massage-img-wrapper,.biolift-img-wrapper,.kosmetolog-img-wrapper,.pedikure-img-wrapper{	
		grid-column-start: 1;
	  grid-column-end: 6;
	  grid-row-start: 1;
	  grid-row-end: 2; 	  
	}
	.waxing-text,.massage-text,.biolift-text,.kosmetolog-text,.pedikure-text{
		grid-column-start: 1;
	  grid-column-end: 6;
	  grid-row-start: 2;
	  grid-row-end: 5; 
	}
	.waxing-text,.massage-text,.biolift-text,.kosmetolog-text,.pedikure-text{	
		padding: 32px 2.5vw;
	}
}
.button-details{
	display: block;
	border-color:#dfb019;	
	color: #dfb019;
	font-weight:600;
	border:1px solid #dfb019;
	padding: 18px 32px 16px;
	text-transform: uppercase;
	margin-top: 20px;
	border-radius: 12px;
	-webkit-transform: translate(0px,50%);
	-moz-transform: translate(0px,50%);
	-ms-transform: translate(0px,50%);
	-o-transform: translate(0px,50%);	
	transform: translate(0px,50%);
	opacity: 0;	
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	-ms-transition:all 1.5s ease;
	-o-transition:all 1.5s ease;
	transition:all 1.5s ease;
}
.button-details:hover{
	background-color:#dfb019;
	color: white;	
}
.button-details._active{
	transform: translate(0px,0px);
	opacity: 1;	
}
.wax-cards{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.wax-card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2vw;
}
.wax-card:first-child{
	margin-left: 0;
}
.wax-card:last-child{
	margin-right: 0;
}
.accordeon-text span{
	font-weight: 700;
	font-size: 20px;
}
.pedikure-content span{
	font-size: 100% !important;
}
@media (max-width: 800px){
	.accordeon-text span{	
	font-size:16px;
	}
}

.depil{
	display: flex;
	flex-flow: row;
}
.depil-img-wrapper{
	width: 40%;
}
.depil-text{
	width: 60%;
	display: flex;
	flex-direction: column;
	padding: 10px 25px;
	justify-content: center;
}
.depil.women{
	flex-flow: row-reverse;
}
.depil.man .depil-text{
	padding-right: 0;
}
.depil.women .depil-text{
	padding-left: 0;
}
@media (max-width: 800px){
	.wax-cards{	
	flex-flow:column;
	}
	.wax-card{
	margin: 0;
	}
	.accordeon-text{
	padding:10px 0;
	}
	.depil{	
	flex-flow:column;
	}
	.depil-img-wrapper{
	width: 100%;
	}
	.depil-text{
		width: 100%;
		padding: 0;
	}
	.depil.women{
	flex-flow: column;
	}
}
.tabs-wrapper2{
	border: 1px solid #dfb019;
  padding: 18px 32px 16px;
  border-radius: 12px;  
}
.tabs-wrapper2 .tabs-content{
	background-color: transparent;
}
.tabs-wrapper2 .tabs{
	display: flex;
	flex-flow:  row wrap;
	align-items: stretch;
}
.tabs-wrapper2 .tab{	
	background-color: transparent;
	border: 1px solid #dfb019;
	padding: 10px 25px;
	border-radius: 12px;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition: all .3s ease;
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
	font-size: 16px;
	margin-right: 5px;
}
@media (max-width: 800px){
	.tabs-wrapper2{	
  padding: 18px 8px 16px;
	}
	.tabs-wrapper2 .tab{	
	padding: 10px;	
	}
}
.tabs-wrapper2 .tab.active {
	background-color: #dfb019;
}
.tabs-wrapper2 .tabs-content{
	padding-bottom: 20px;	
}
.mas-tab-img{
	width: 100%;
}
.tabs-wrapper2 .tabs-content{
	padding: 0;
}
@media (max-height: 600px){
	.waxing,.massage,.biolift,.kosmetolog,.pedikure{	
		min-height: 100vh;}
	.waxing-container, .massage-container, .biolift-container, .kosmetolog-container, .pedikure-container{
		grid-template-rows:repeat(4, 25vh);
			}	
}







/*SECTION prices*/

#prices{
	height: auto;
}
.prices-container{
	height: 90vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows:repeat(6, 1fr);
}
.prices-img-wrapper{	
	grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
  display: flex;
  justify-content: center;
}
.prices-img{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	margin-left: -400px
}
.tabs-wrapper{	
	position:relative;
	-webkit-transform: translate(0px,40%);
	-moz-transform: translate(0px,40%);
	-ms-transform: translate(0px,40%);
	-o-transform: translate(0px,40%);
 	transform: translate(0px,40%);
	opacity: 0;
	-webkit-transition:all .8s ease;
	-moz-transition:all .8s ease;
	-ms-transition:all .8s ease;
	-o-transition:all .8s ease;
	transition: all 0.8s ease ;
	z-index: 1;	
	grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 6; 
}
.tabs-wrapper._active{
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	transform: translate(0px,0px);
	opacity: 1;	
}
.prices-title{
	grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2; 
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
#prices .button{
	grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7; 
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: translate(0px,50%);
	-moz-transform: translate(0px,50%);
	-ms-transform: translate(0px,50%);
	-o-transform: translate(0px,50%);
	transform: translate(0px,50%);
	opacity: 0;	
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	-ms-transition:all 1.5s ease;
	-o-transition:all 1.5s ease;
	transition:all 1.5s ease;
}
#prices .button._active{
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	transform: translate(0px,0px);
	opacity: 1;	
}
.tabs__wrapper {
  overflow: hidden;
}
.tab__items {
  display: flex;
  -webkit-transition:transform .5s ease;
	-moz-transition:transform .5s ease;
	-ms-transition:transform .5s ease;
	-o-transition:transform .5s ease;
  transition:transform .5s ease;   
  padding: 12px 0;
}
.green{
	background-color: rgba(229, 226, 174, 1.0) !important;
}
.slider_disable-transition{
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none;
}
.tab__item{
    display: flex;  
    border: 1px solid rgba(229, 226, 174, 0.5);
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 226, 174, 0.5);
    padding: 12px 0;     
}
.lng-pr4,.lng-pr3{
	text-align: center;
}
.tab__item:first-child{
	margin-right: 1px;	
}
.tab__item:last-child{
	margin-left: 1px;	
}
.tabs-content{
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	padding: 20px;	
	background-color: rgba(229, 226, 174, 0.5);
}
.tabs-content-title{
	display: block;
	color: #929292;
	margin-bottom: 8px;
}
.tabs-items{
	display: block;
	min-height: 250px;
	max-height: 55vh;
}
#wrapper{
  position: relative;
  padding: 10px;
}
.price-tabl{
	width: 100%;
	background-color: white;
	border-radius: 6px;		
}
table{
	max-height: 55vh;
}
th{	
	vertical-align: middle;
	text-align: left;
	padding-left: 20px;
}
td{
	vertical-align: middle;
	padding-right: 20px;
}
td:last-child{
	text-align: right;
}
tr{
	text-align: center;
	height: 36px;
	vertical-align: middle;;
}
#tab-2 tr{
	height: 30px;
}
tr:nth-child(even) {
    background-color: rgba(229, 226, 174, 0.2);
}
.detal{
	-webkit-transform: translate(0px,50%);
	-moz-transform: translate(0px,50%);
	-ms-transform: translate(0px,50%);
	-o-transform: translate(0px,50%);	
	transform: translate(0px,50%);
	opacity: 0;	
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	-ms-transition:all 1.5s ease;
	-o-transition:all 1.5s ease;
	transition:all 1.5s ease;	
}
.detal._active{
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);	
	transform: translate(0px,0px);
	opacity: 1;	
}
.big-table{
	font-size: 12px;
}
@media (max-width:1200px){	
	.tabs-items{	
	min-height: 350px;
	}
}
@media (max-width:1000px){	
	.tabs-wrapper{
		grid-column-start: 2;
	}
}
@media (max-width:700px){	
	.prices-img-wrapper{	
	grid-column-start: 2;
  grid-column-end: 5;
 }
 	.prices-img{
	margin-left: 0 ;
	opacity: 0.4;
	}
	.prices-img{
		-webkit-transform: scale(-1, 1);
		-moz-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);	
		transform: scale(-1, 1);

	}
	.tabs-wrapper{
		grid-column-start: 1;
	}
	.tabs-wrapper{	
	grid-column-start: 1;
	}
	#prices .button{	
	grid-column-start: 1;
  grid-column-end: 5;
 }
}
@media (max-width:600px){	
	.tabs-content{	
	padding: 8px;		
	}	
	table{
		font-size: 90%;
	}
	th{
		padding-left: 8px;
	}
	td{
		padding-right: 8px;
	}
}
@media (max-width:450px){	
	.prices-img-wrapper{	
	grid-column-start: 1;
  grid-column-end: 5;
  margin-right: -200px;
 } 	
 .th{
 	font-size: 12px;
 }
 .prices-container{
 	height: 110vh;
 }
 .tabs-items{
 	max-height: 100vh;
 }

}
@media (max-height:800px){	
	tr{	
	height: 28px;	
	}	
}
#prices .sm-screen{
		display: none;
}
@media (max-width: 650px){
	#prices .sm-screen{
		display: flex;
	}
	#prices .big-screen{
		display: none;
	}
}






/*SECTION materials*/

#materials{
	background-color: #E5E2AE;	
	padding: 80px 0 100px;
}
.logotypes{
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 25px 0;
}
.logo{
	display: flex;
	width: 100px;
	height: auto;	
	flex-flow: row nowrap;
	align-items: center;
	margin: 20px;	
	-webkit-transform: translate(0px,50%);
	-moz-transform: translate(0px,50%);
	-ms-transform: translate(0px,50%);
	-o-transform: translate(0px,50%);
	transform: translate(0px,50%);
	opacity: 0;	
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	-ms-transition:all 1.5s ease;
	-o-transition:all 1.5s ease;
	transition:all 1.5s ease;	
}
.material-txt{
	text-align: center;
	font-weight: 900;
	color: white;
	font-size: 1.1em;
	-webkit-transform: translate(0px,50%);
	-moz-transform: translate(0px,50%);
	-ms-transform: translate(0px,50%);
	-o-transform: translate(0px,50%);
	transform: translate(0px,50%);
	opacity: 0;	
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	-ms-transition:all 1.5s ease;
	-o-transition:all 1.5s ease;
	transition:all 1.5s ease;	
}
.logo._active,.material-txt._active{
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	transform: translate(0px,0px);
	opacity: 1;	
}




/*SECTION master*/
 
#master{
	min-height: 50vh;	
}
.master-wrapper{		
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 0 50px;
}
.master-container{
	display: flex;
	flex-direction: row;
}
.master-img{
	max-width: 450px;
	-webkit-transform: translate(0px,50%);
	-moz-transform: translate(0px,50%);
	-ms-transform: translate(0px,50%);
	-o-transform: translate(0px,50%);
	transform: translate(0px,50%);
	opacity: 0;	
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	-ms-transition:all 1.5s ease;
	-o-transition:all 1.5s ease;
	transition:all 1.5s ease;	
}
.master-img._active{
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	transform: translate(0px,0px);
	opacity: 1;	
}
.master-text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 32px 0 32px 24px;
}
.master-text h4,.master-text p{
	-webkit-transform: translate(0px,50%);
	-moz-transform: translate(0px,50%);
	-ms-transform: translate(0px,50%);
	-o-transform: translate(0px,50%);
	transform: translate(0px,50%);
	opacity: 0;	
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	-ms-transition:all 1.5s ease;
	-o-transition:all 1.5s ease;
	transition:all 1.5s ease;	
}
.master-text p._active,.master-text h4._active{
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	transform: translate(0px,0px);
	opacity: 1;	
}
@media (max-width: 800px){
	.master-container{
		flex-direction: column;
	}
	.master-img{
	max-width:100%;
	}
	.master-text{	
	padding: 32px 0;
	}
}
.img-gallery-magnific{
	padding-bottom: 100px;
}
.img-gallery-magnific a{
	outline: 0 !important;
}
.magnific-img img {
    width: 100%;
    height: auto;
}
.magnific-img {
  display: inline-block;
  width: 24.5%;
  -webkit-transform: translate(0px,50%);
	-moz-transform: translate(0px,50%);
	-ms-transform: translate(0px,50%);
	-o-transform: translate(0px,50%);
  transform: translate(0px,50%);
	opacity: 0;	
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	-ms-transition:all 1.5s ease;
	-o-transition:all 1.5s ease;
	transition:all 1.5s ease;
}
.magnific-img._active{
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	transform: translate(0px,0px);
	opacity: 1;	
}
@media (max-width: 800px){
	.magnific-img {    
    width: 32.5%;
  }
}
@media (max-width: 600px){
	.magnific-img {    
    width: 49%;
  }
}
a.image-popup-vertical-fit {
    cursor: -webkit-zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
    overflow: hidden;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-arrow-left:before {
    border-right: none !important;
}
.mfp-arrow-right:before {
    border-left: none !important;
}
button.mfp-arrow, .mfp-counter {
    opacity: 0 !important;
    transition: opacity 200ms ease-in, opacity 2000ms ease-out;
}
.mfp-container:hover button.mfp-arrow, .mfp-container:hover .mfp-counter{
	opacity: 1 !important;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042; 
  position: fixed;
  background: #E5E2AE;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;  
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh !important;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
  overflow: hidden !important;
   }
.mfp-wrap.lock{
	overflow: hidden!important;	
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height:100vh;
  vertical-align: middle; }
.mfp-align-top .mfp-container:before {
  display: none; }
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #dfb019;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #dfb019;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #dfb019;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }




/*SECTION reviws*/

#reviws{
	min-height: 50vh;	
}
.reviws-wrapper{
	background-color: #FCDAC4;
	margin-right: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
}
.slideshow-wrapper{

	-webkit-transform:translate(0px,40%);
	-moz-transform:translate(0px,40%);
	-ms-transform:translate(0px,40%);
	-o-transform:translate(0px,40%);
	transform: translate(0px,40%);
	opacity: 0;
	-webkit-transition:all .8s ease;
	-moz-transition:all .8s ease;
	-ms-transition:all .8s ease;
	-o-transition:all .8s ease;
	transition: all 0.8s ease ;	
}
.slideshow-wrapper._active{
	-webkit-transform:translate(0px,0px);
	-moz-transform:translate(0px,0px);
	-ms-transform:translate(0px,0px);
	-o-transform:translate(0px,0px);
	transform: translate(0px,0px);
	opacity: 1;
}
.mySlides {
	display: none;	
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.mySlides img{
	vertical-align: middle;
	border-radius: 50%;
	width: 40vw;
	max-width: 240px;
}
@media (max-width: 1000px){
	.mySlides img{max-width: 160px;}
}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin: auto;
  background-color: white;
  padding: 3vw;
}	
@media (max-width: 1200px){
	.slideshow-container{max-width: 85vw;}
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%; 
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
  transition: all 0.3s ease;
  border-radius: 3px 0 0 3px;
}
.prev {
	    left: -40px;
	  }
/* Position the "next button" to the right */
.next {
  right: -40px;
  border-radius: 0 3px 3px 0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
  transform: scale(2);
}
/* Caption text */
.text { 
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
  display: flex;
}
#carousel-item-reviws{  
  padding: 25px 25px  50px 25px;  
 	display: flex;
  flex-direction: column;  
}
.client{
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;	
	justify-content: flex-start;
}
.client-name{	
	display: flex;
	flex-flow: column;
	height: 100%;
	justify-content: space-between;
	padding: 5px 0 ;
}
.client-name p:last-child{
	color: #b7b7b7;
	font-size: 90%;
}
.stars{
	display: flex;	
	flex-direction: row;	
	height: 20px;
	justify-content: flex-start;
	margin: 15px 0;	
}
.stars svg{
	width: 25px;
	color: #fceb24;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  -webkit-transition:background-color 0.6s ease;
	-moz-transition:background-color 0.6s ease;
	-ms-transition:background-color 0.6s ease;
	-o-transition:background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.dot.active, .dot:hover {
  background-color: white;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media (max-width: 800px){
	.mySlides{
		flex-direction: column;
	}
	#carousel-item-reviws{
		padding: 0px;
	}
	.slideshow-container{
		padding-top: 10vw;
		min-height: auto;		
	}
}












/*SECTION contacts*/

.map{
	min-height: 30vh;	
	padding: 24px 0;
}
.map .contacts{
	padding-top: 24px;
}
@media (max-width: 1000px){
	.map p{
		font-size: 1em;

	}
}


/*FOOTER*/

.footer-wrapper{
	display: flex;	
	flex-flow: row nowrap;
	padding: 20px 0;
	margin:5px 0;		
	border-bottom:2px solid white;
	justify-content: space-between;
	align-items: center;
}
.footer-logo{
	display: flex;
	flex-flow: row nowrap;	
	align-items: flex-end;	
	justify-content: space-berween;
}
.footer-logo img{
	height: 50px;
	padding-right: 8px;
}
.footer-wrapper .icon{
	border-color: white;
	color: white;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition: all 0.5s ease;
}
.footer-wrapper .icon:hover{
	border-color: #dfb019 ;
	color: #dfb019;
	background-color: transparent !important;
}
.copyright{		
	padding-bottom: 5px;
}
.copyright-wrapper{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.web-design-for-you{
	color:white;
	padding-left: 5px;
}
.web-design-for-you{	
	font-weight: 700;
	transition: 0.5s ease;
}
.web-design-for-you svg{
	width: 12px;
}
.web-design-for-you:hover{	
	color:#dfb019;
}
.web-design-for-you:hover svg{	
	animation-name: anim;
	-webkit-animation-name: anim;
	animation-duration: .8s;
	-webkit-animation-duration: .8s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	}
@keyframes anim {
	0% {
		transform: scale(0.8);
	}		
	70% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.8);		
	}
}
@media (max-width: 800px){
	.footer-logo{
		flex-direction: column;
		align-items: flex-start;
	}
}
@media (max-width: 650px){
	.footer-wrapper{
		flex-direction: column;
	}

	.footer-wrapper .contacts{
		flex-direction: column;		
	}
	.footer-logo{
		align-items: center;
	}
	.socicons{
		align-items: center;
		justify-content: center;
		padding-top: 32px;
	}	
}




/*ring*/

.ring{	
	position:fixed;
	bottom:30px;
	left:180px;	
	z-index: 1;
}
.ring.big-screen{
 display: block;
}
.ring.sm-screen{
	display: none;	
}
@media (max-width: 650px){
	.ring.big-screen{
		display: none;
	}
	.ring.sm-screen{
		display: block;
	}
}
.img-circle{
	background-color:#C6C55B;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	transition: all 0.5s ease;
}
.ring:hover .img-circle{
	background-color:#DDDA8A;
}
.circlephone{
	box-sizing:content-box;-webkit-box-sizing:content-box;
	border: 2px solid #C6C55B;
	width:150px;
	height:150px;
	bottom:-25px;
	right:10px;
	position:absolute;-webkit-border-radius:100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
	-moz-animation: circle-anim 2.4s infinite ease-in-out !important;
	-ms-animation: circle-anim 2.4s infinite ease-in-out !important;
	-o-animation: circle-anim 2.4s infinite ease-in-out !important;
	animation: circle-anim 2.4s infinite ease-in-out !important;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;transition: all 0.5s;
}
.circle-fill{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	background-color:#C6C55B;
	width:100px;
	height:100px;
	bottom:0px;
	right:35px;
	position:absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-o-animation: circle-fill-anim 2.3s infinite ease-in-out;
	animation: circle-fill-anim 2.3s infinite ease-in-out;
	-webkit-transition: all .5s;-moz-transition: all .5s;
	-o-transition: all .5s;transition: all 0.5s;
}
.img-circle{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	width:72px;
	height:72px;
	bottom: 14px;
	right: 49px;
	position:absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
}
.img-circleblock{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	width:72px;
	height:72px;
	background-image:url(../img/phone.png);
	background-position: center center;
	background-repeat:no-repeat;
	animation-name: tossing;
	-webkit-animation-name: tossing;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }   
  100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}   
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}

@media (max-width: 800px){
	.ring{
		bottom: 12px;
    left: 150px
	}
}






/*button UP*/

.up{
	width: 72px;
	height: 72px;
	background-color: #C6C55B;
	border-radius: 50%;
	text-align: center;
	position: fixed;
	right: 2.5vw;
	bottom: 45px;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition: all .5s ease;
	z-index: 1;
	border-color: transparent;
	opacity: 0.5;
	display: none;
	padding-top:18px; 
}
.up-show{
  display: block;
}
@media (max-width: 800px){
	.up-show{display: none;}
}
.up svg{
	width: 36px;
	height: 36px;
	color: white;
}
.up:hover{
	opacity: 1;
}