
.icon-instagram:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-time:before { content: '\e803'; } /* '' */
.icon-whatsapp:before { content: '\e804'; } /* '' */
